*{
    background-color: lightgoldenrodyellow;
}

h1{
    font-family: 'Architects Daughter', cursive;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Architects Daughter', cursive; 
}

button {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    position:relative;
    left: 45%;
    justify-content: center;
    
}